<section class="login flex justify-center my-16">
    <div style="background-color: antiquewhite; border: 2px solid; ">
    <form action="/resister" method="POST" class="mx-4 py-4 " style="width: fit-content;">
       <% if(messages.error){%>
    <span class="text-red-500 text-sm"><%=messages.error %></span>
           <% } %>

        <h1 class="font-bold">Resister</h1><br><br>

        <label>Email</label><br>
        <input name="email" type="email" placeholder="username"><br><br>

        <label>Password</label><br>
        <input name="password" type="text" placeholder="password"><br><br>

        <button type="submit" style="text-align: right; border: 3px solid;" class="rounded-full " >Sign Up</button>
        <a class="mx-4 justify-between "  href="/login">Already have account?</a>
    </form>
    </div>
</section>